Programming/OldWorks/.vs/
Programming/OldWorks/Debug
Programming/OldWorks/**/Debug
Programming/Works/cmake-build-debug
Programming/Works/.idea
Programming/OOP/.idea
Programming/**/.idea
Programming/**/out
Programming/**/cmake-build-debug
Programming/**/.idea
Databases/**/*.iml
Informatics/**/.idea
~*
